name: cowpay
description: Cowpay Flutter Package
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3
  crypto: ^3.0.1
  flutter_bloc: ^7.0.0
  equatable: ^2.0.3
  formz: ^0.4.0-nullsafety.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - assets/

